header {
    margin: .5rem;
    color: white;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .75rem;
    background-image: url('../assets/8-ball-wallpaper.jpeg');
    background-size:cover;
}

button {
    margin: .75rem;
}

#answer-span {
    color: white;
}

#user-input {
    opacity: .7;
}

p {
    color: white;
}